# Data
data/
*.parquet
*.csv
*.zip
*.db
*.db-journal
*.db-wal
*.db-shm

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/

# IDE
.vscode/
.idea/

# Logs
logs/
*.log

# Frontend
node_modules/
dist/
build/
.DS_Store
